.gradient.page-footer {
  margin-top:40;
}


.image-overlay{
  position: absolute;
  text-align:center;
  top: 60%;
  font-size: x-large;
  color:black;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.no-cursor{
  cursor:default;
}

.container, .a, .footer, .p, .div, .em, .strong{cursor:default;}

a{cursor:default}
div{cursor:default}
li{cursor:default}
.card-title{
  font-variant: small-caps;
}