.gradient.page-footer {
  margin-top:40;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.about-me{
  color:rgb(201,210,218);
  height:100%;
  font-size:22px;
  font-variant: small-caps;
}


.no-cursor{
  cursor:default;
}

.test{
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-weight: 200;
  margin:auto;
  text-align:center;
  width:50%;
  color:white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
  letter-spacing: 0px;
}
.home-caption{
  color:rgb(201,210,218);
  font-size: smaller;  
  font-size: large;
  font-variant: small-caps;
  opacity: 75%;
  color:white;
  cursor:default;
}

.modal-footer{
  font-size:20px;
  vertical-align: middle;
}
.container, .test, .a, .footer, .p, .div, .em, .strong{cursor:default;user-select: none; }

a{cursor:default}
div{cursor:default}
li{cursor:default}
.card-title{
  font-variant: small-caps;
}

.carousel {
  width: 640px;
  height: 360px;
}

.custom-bullet {
  font-style: italic;
  font-size: 14px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
}